<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Simple mustache test</title>
</head>
<body>
<h1>Detail</h1>
{{detail}}
<br />
<h1>Kodi Json Output</h1>
{{jsonResponse}}
</body>
</html>